name: Vulnerable App CI

on:
  pull_request:
    branches:
      - main

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

    
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      
      - name: Install pip-audit
        run: pip install pip-audit

      
      - name: Run pip-audit using uv.lock
        working-directory: vulnerable-app
        run: pip-audit -l uv.lock -f json -o pip-audit.json || true

      
      - name: Convert pip-audit JSON to SARIF
        uses: courtneybodily/pip-audit-sarif-action@v1
        with:
          input-file: vulnerable-app/pip-audit.json
          output-file: results.sarif
          artifact-path: vulnerable-app/uv.lock

      - name: Upload SARIF to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif

